@font-face {
  font-family: "opensanspro";
  src: url("./../../fonts/sourcesanspro.woff2") format("woff2"),
       url("./../../fonts/sourcesanspro.woff")  format("woff");
  font-weight: normal;
  font-style: normal;
}
