@import './CodimCSS/index.scss';
@import './fonts';

* {
  font-family: $fontPrimary;
  text-transform: uppercase;
  color: $color-5;
}

body {
  background: radial-gradient(circle at 50% 10%, $color-4 0%, $color-5 44%);
}

// -----------------------------------
//           MAIN CONTENT
// -----------------------------------

.o-mainContent {
  background: #fff;
  padding: 6em;
}
